@import url(http://fonts.googleapis.com/css?family=Oxygen);
body {
	font-family: "Oxygen","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px; 
  line-height: 1.5; 
  color: #272727; 
  background: #ffffff;
  background-image: url('../img/white_wall_hash.png');
  height: auto !important;
  height: 100%;
  min-height: 100%;
}
a {
  color: #6d6d6d;
}
a.bubble {
  display: inline-block;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a.bubble:hover {
  font-size: 1.25em;
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}
a.no-decor {
  text-decoration: none;
}
.profile:hover:before {
  content: '{';
}
.profile:hover:after {
  content: '}';
}
.inline-list li {
  display: inline;
  /*margin-left: 1rem;*/
}
.mobile-inline-list li {
  /*padding-left: 2rem;*/
}
.container { 
  max-width: 50%;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 3.5em;
}
img.avatar {
  -moz-border-radius: 65px;
  border-radius: 65px;
  border: 3px solid #eee;
  background-color: #aaa;
}
.border-bottom {
  border-bottom: .071428571em solid #ddd; 
}
.border-right {
  border-right: .071428571em solid #ddd; 
}
.fork {
	position: fixed; 
	top: 0; 
	right: 0; 
	border: 0;
}
.copyright {
  position: absolute;
  bottom: 1.25rem;
}
/*for desktop*/
@media handheld, only screen and (max-width: 767px) {
  .container {
    max-width: 88%;
    margin-top: 1.5em;
  }
  .mobile-inline-list li {
    display: inline;
    /*margin-left: 1rem;*/
    /*padding-left: inherit;*/
  }
  .copyright {
    position: relative;
    bottom: 0;
  }
}